<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .class{
            color: blue;
            font-size: 35px;
        }
    </style>
</head>
<div class="row justify-content-center align-items-center h-100 a">
    <input type="text" name="empId" [(ngModel)]="empid" placeholder="Enter Employee ID" class="form-group">    
    <br>
    <input type="button" value="fetch details" (click)="fetchEmployee()" class="btn btn-primary" class="form-group"/>
</div>
<br>
<div *ngFor="let doc of emp_docdetails ">
<!--<div *ngIf="check" align="center">-->
        <h3>employee document : <span class="class">{{doc.docData}}</span></h3>
        <h3>employee name : <span class="class">{{doc.empName}}</span></h3>
</div>
<div align="center" *ngIf="check1" align="center">
    <h3>Employee with ID : does not exist</h3>
</div>

