

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .class{
            color: blue;
            font-size: 35px;
        }
    </style>
</head>
<div align="center">
    <b>userId:&nbsp;&nbsp;&nbsp;&nbsp;</b><input type="text" name="empId" [(ngModel)]="userId" class="form-group"  placeholder="Enter LoginId" required maxlength="5" ><br><br>
    <b>password: </b><input type="password" name="password" [(ngModel)]="password" class="form-group"  placeholder="Enter Password"/><br><br>
    <input type="submit" value="submit" (click)="fetchEmployee()" class="btn btn-success"
    ></div>

<br>
<div align="center" *ngIf="check1" align="center">
    <h3>Please Enter Valid Login Credentials!!!!!</h3>
</div>

<div align="center" *ngIf="check" align="center">
    <h3>Login Successful!!!!</h3>
</div>

