

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
      h1{
          font-size: 50px;
      }
  </style>
</head>
<div class="jumbotron">
<div class="container">
<h1 class="navbar navbar-nav bg-light"><b>Background Verification</b></h1>
<br>
<div *ngIf="check" class="navbar navbar-expand-xs bg-dark">
  <a routerLink="app-login"><h3><b>Login</b></h3></a>
</div>
<div *ngIf="check1" class="navbar navbar-expand-xs bg-dark" >
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="app-search-by-id"><h3><b>search the document by id</b></h3></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="app-search-by-name"><h3><b>search the document by name</b></h3></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--<a routerLink="app-set-status"><h3><b>set status</b></h3></a>-->
</div>
</div>
</div>
<br>


<router-outlet></router-outlet>