<div class="container">
    <div class="form-group">
        <label for="empName" >empName</label>
        <input type="text" [(ngModel)]="empName" placeholder="Enter empName" name="empName" class="form-control" id="userId" required>
      </div>
  <button  class="btn btn-success"  (click)="submit(empName)">Submit</button>
  
      <table class="table" >
  
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>DocId</th>
                <th>EmpType</th>
                <th>DocData</th>      
                
              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let r of employeedocumentdto">
            <td> {{r.empId}} </td>
            <td> {{r.empName}}</td>
            <td> {{r.docId}} </td>
            <td> {{r.docType}} </td>
            <td> {{r.docData}} </td>
                  
          </tbody> 
        </table>
  
  
      </div>
  